
/** 
 * workflow.css
 * CSS for designer of workflows, make sure to include this before the .js file.
 */

.graphcard {
  height: 100%;
  width: 100%;
}

#cy {
  width: 100%;
  height: 97%;
  display: block;
  z-index: 0;
}

html, body {
  height: 100%;
}